<table class="table table-bordered table-hover" data-test="checks">
    <thead>
        <tr>
            <th>ID</th>
            <th>Дата проверки</th>
            <th>Код ответа</th>
            <th>h1</th>
            <th>title</th>
            <th>description</th>
        </tr>
    </thead>
    <tbody>
        {% for check in checks %}
        <tr>
            <td>{{ check.id }}</td>
            <td>{{ check.created_at.strftime('%Y-%m-%d') }}</td>
            <td>{{ check.status_code }}</td>
            <td>{{ check.h1|default('', true)|truncate(50) }}</td>
            <td>{{ check.title|default('', true)|truncate(50) }}</td>
            <td>{{ check.description|default('', true)|truncate(200) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>