<table class="table table-bordered" data-test="checks">
    <thead>
        <tr>
            <th>ID</th>
            <th>Код ответа</th>
            <th>h1</th>
            <th>title</th>
            <th>description</th>
            <th>Дата проверки</th>
        </tr>
    </thead>
    <tbody>
        {% for check in checks %}
        <tr>
            <td>{{ check[0] }}</td>
            <td>{{ check[2] }}</td>
            <td>{{ check[3]|default('', true) }}</td>
            <td>{{ check[4]|default('', true) }}</td>
            <td>{{ check[5]|default('', true) }}</td>
            <td>{{ check[6].strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>